<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>My Recipe Hub</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div>
    <nav class="sidebar">
      <a id="homeButton" href="/">Home</a>
      <a id="recipeBookButton" href="/recipeBook">Recipe Book</a>
      <a id="addRecipeButton" href="/addRecipe">Add Recipe</a>
      <a id="accountButton" href="/account">Account</a>
      <a id="logoutButton" href="/logout">Log out</a>
      <div id="ad">
        <h3>Ad</h3>
      </div>
    </nav>
  </div>
  
{{!-- <button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
<button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">News</button>
<button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About</button> --}}

  <section id="message"></section>
  <section id="content"></section>
  <section id="typeSideNav"></section>
  <section id="typeSpan"></section>
  <script src="/assets/bundle.js"></script>
</body>
</html>